@model HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<section id="slider-img">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="swiper mySwiperSl">
                    <div class="swiper-wrapper">
                        @foreach (var slider in Model.Sliders)
                        {
                            <div class="swiper-slide">

                                <div class="img">
                                    <img src="~/assets/img/slider/@slider.Image" alt="slider" />
                                </div>
                                <div class="slider-text">
                                    <p>@slider.Title</p>
                                    <h1>@Html.Raw(slider.Descirption)</h1>
                                    <a href="">Shop Now</a>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>