* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#navbar-area {
    background-color: #F4F4F4;

    .container {
        .logo {
            margin-left: 20px;
            margin-right: 40px;
        }

        .nav-center {
            li {
                margin-left: 35px;
                font-size: 22px;

                a {
                    color: #171700;

                    &:hover {
                        color: #65A3F2 !important;
                    }
                }
            }
        }

        .search-box {
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
            height: 40px;
            border-radius: 40px;

            &:hover {
                .search-txt {
                    width: 240px;
                    padding: 0 6px;
                }

                .search-btn {
                    background-color: #fff;
                }
            }
            .header-right {
                .input {
                    margin-right: 5px !important;
                }
                
            }
            
            .search-name {
                border-radius: 10px !important;
                height: 25px !important;
                li  {
                    list-style: none;
                    display: flex;
                    padding-top:5px!important;
                }
            }
            .search-list {
                display: flex !important;
                text-align: center !important;
                justify-content: end !important;
            }
            .search-list-p  {
                width: 100%;
            }
           

            .search-btn {
                color: #2879FB;
                float: right;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .4s;
                text-decoration: none;
            }

            .search-txt {
                border: none;
                background: none;
                outline: none;
                float: left;
                padding: 0;
                color: black;
                font-size: 16px;
                transition: .4s;
                line-height: 40px;
                width: 0;
                margin-top: 7px;
                
            }
        }


        // search end
        .basket {
            cursor: pointer;

            i {
                font-size: 25px;
                color: #171700;
                margin-top: 13px;

                &:hover {
                    color: #ff2020 !important;
                    
                }

                sup {
                    background-color: #65A3F2;
                   
                    color: rgb(49, 75, 99) !important;
                    padding: 5px;
                    border-radius: 50%;
                    font-size: small;
                    top: -20px;
                    right: 5px;
                }
            }
        }

        .heart {
            margin-left: 5px;

            i {
                font-size: 25px;
                color: #171700;
                margin-top: 13px;

                &:hover {
                    color: #ff2020 !important;
                
                        sup{
                            background-color:#65A3F2;
                        }
                    
                }

                sup {
                    background-color: #65A3F2;
                   
                    color: rgb(49, 75, 99) !important;
                    padding: 5px;
                    margin-left: 5%;
                    border-radius: 50%;
                    font-size: small;
                    top: -20px;
                    right: 5px;
                }
            }
        }

        .dropdown {

            margin-left: 20px;
            margin-right: 20px;
            

            &:hover {
                .dropdown-content {
                    display: block;
                }
            }

            .dropbtn {
                color: rgb(84, 85, 93);
                padding: 10px;
                font-size: 15px;
                height: 39px;
                border: none;
                cursor: pointer;
                background-color: #F4F4F4;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #F4F4F4;
                min-width: 100px;
                border-radius: 7px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 2;
                margin-left: 5px;

                a {
                    color: black;
                    padding: 10px 22px;
                    border-radius: 5px;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        background-color: #65A3F2;
                    }
                }
            }
        }
    }

}


@media (max-width: 1400px) {
    #navbar-area {
        .nav-center {
            li {
                margin-left: 20px !important;
                font-size: 22px;

            }
        }

        .search-box {

            input {
                width: 100px !important;
            }
        }

        .logo {
            margin-right: 0 !important;
        }
    }
}


@media (max-width: 1200px) {
    #navbar-area {
        .logo {
            margin-left: 0px !important;
        }

        .nav-center {
            li {
                margin-left: 20px;
                font-size: 22px;

            }
        }

        .search-box {
            position: absolute;
            left: 69% !important;
        }

        .logo {
            margin-right: 0 !important;
        }
    }
}


@media (max-width: 992px) {
    #navbar-area {
        .logo {
            margin-left: 0px !important;
        }

        .nav-center {
            li {
                margin-left: 15px !important;
                font-size: 20px;

            }
        }

        .search-box {
            position: absolute;
            top: 50%;
            left: 66% !important;

            input {
                width: 100px !important;
            }

        }

        .dropdown {
            margin-top: 0px !important;
        }

        .basket {
            margin-top: 4px;
            margin-left: 16px;
        }

        .heart {
            i {
                margin-left: 0 !important;
            }
        }
    }

}

@media (max-width: 991px) {
    #navbar-area {
        .logo {
            margin-left: 0px !important;
        }

        .nav-center {
            li {
                margin-left: 15px !important;
                font-size: 20px;

            }
        }

        .search-box {
            top: 65% !important;
            left: 10% !important;

            input {
                width: 100px !important;
            }

        }

        .dropdown {
            margin-top: 50px !important;
            margin-left: 5px !important;

        }

        .basket {
            margin-top: 14px;
            margin-left: 16px;
        }

        .heart {
            i {
                margin-left: 10px !important;
            }
        }
    }

}

@media (max-width: 768px) {
    #navbar-area {


        .search-box {
            top: 65% !important;
            left: 15% !important;

            input {
                width: 100px !important;
            }

        }

        .dropdown {
            margin-top: 55px !important;
            margin-left: 5px !important;

        }


        .basket {
            margin-top: 14px;
            margin-left: 16px;
        }

        .heart {
            i {
                margin-left: 10px !important;
            }
        }
    }

}





#slider-img {
    padding-top: 80px;

    .swiper {
        width: 100%;
        height: 600px;
        border-radius: 10px;


        .swiper-slide {
            width: 100%;
            height: 100%;
            position: relative;

            .img {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    filter: brightness(0.5);
                    z-index: -1;
                    object-fit: cover;

                }
            }

            .slider-text {
                width: 100%;
                height: 100%;
                text-align: center;
                margin-top: 15%;
                position: absolute;
                left: 0%;
                top: 0%;

                p {
                    color: white;
                    font-size: 30px;
                }

                h1 {
                    color: white;
                    font-size: 90px;
                }

                a {
                    background-color: #2F7DFC;
                    padding: 12px 25px;
                    border-radius: 50px;
                    text-transform: uppercase;
                    transition: 0.5s;
                    text-decoration: none;
                    color: #fff;

                    &:hover {
                        background-color: #fff;
                        color: #2F7DFC;
                    }
                }


            }


        }
    }
}

@media (max-width: 1400px) {
    #slider-img {
        .swiper {

            .swiper-wrapper {
                .swiper-slide {
                    .slider-text {
                        p {
                            font-size: 25px;
                        }

                        h1 {
                            font-size: 80px;
                        }


                    }
                }
            }
        }

    }
}


@media (max-width: 1199px) {
    #slider-img {
        .swiper {
            .swiper-wrapper {
                .swiper-slide {
                    .slider-text {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        margin-top: 15%;
                        position: absolute;
                        left: 0%;
                        top: 0%;

                        p {
                            font-size: 20px;
                        }

                        h1 {
                            font-size: 70px;
                        }

                        a {
                            padding: 10px 20px;
                            border-radius: 50px;
                        }
                    }
                }
            }
        }

    }
}


@media (max-width: 991px) {
    #slider-img {
        .swiper {
            width: 100%;
            height: 510px;

            .swiper-wrapper {
                .swiper-slide {
                    .slider-text {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        margin-top: 17%;
                        position: absolute;
                        left: 0%;
                        top: 0%;

                        p {
                            font-size: 17px;
                        }

                        h1 {
                            font-size: 45px;

                        }

                        a {
                            padding: 8px 16px;
                            border-radius: 50px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

    }
}


@media (max-width: 767px) {
    #slider-img {
        .swiper {
            width: 100%;
            height: 350px;

            .swiper-wrapper {
                .swiper-slide {
                    .slider-text {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        margin-top: 18%;
                        position: absolute;
                        left: 0%;
                        top: 0%;

                        p {
                            font-size: 20px;
                        }

                        h1 {
                            font-size: 20px;
                        }

                        a {
                            padding: 4px 10px;
                            border-radius: 50px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

    }
}





#footer-area {

    background-color: #000000;
    margin-top: 50px;

    .container {
        .footer-side {
            margin-top: 90px;

            .footer-info {
                margin-top: 15px;

                h1 {
                    font-size: 30px;
                    color: white;
                }

                ul {
                    padding-left: 0%;

                    li {
                        list-style: none;
                        margin-top: 12px;

                        a {
                            color: white;
                            text-decoration: none;
                            font-size: 20px;

                            &:hover {
                                color: #007bff;
                            }
                        }

                    }
                }

                .footer-logo {
                    img {
                        margin-top: 14px;
                    }

                    p {
                        margin-top: 25px;
                        color: white;

                        &:hover {
                            color: #007bff;

                        }
                    }
                }


                .social {

                    ul {
                        display: flex;

                        .social-icon {
                            width: 40px;
                            height: 40px;
                            background-color: #1A1A1A;
                            border-radius: 50%;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-bottom: 12px;
                            margin-left: 8px;

                            &:hover {
                                background-color: #fff;

                                i {
                                    color: #007bff;
                                }
                            }
                        }
                    }
                }


            }
        }

        .line {
            width: 95%;
            border: 0.5px solid gray;
            margin-top: 70px;
            opacity: 0.5;
        }

        .copyright {
            margin-top: 15px;
            text-align: center;
            color: white;

        }
    }
}

@media (max-width: 1116) {
    #footer-area {
        background-color: #000000;
        width: 100%;
        height: 100vh;

        .container {
            .footer-info {
                width: 100%;
                background-color: #000000;
            }
        }


    }
}